<div class="columns is-multiline is-centered">
  <div class="column is-11 page-head box">
    <h2 class="header">Gatherings</h2>
    <% if (locals.isLoggedIn) { %>
      <% if (locals.currentUser['venues'].length > 0) { %>
        <a href="/events/new">Create Event</a>
        <% } else { %>
          <p>Want to host an event? Head on over to the <a href="/venues">venues</a> page to get started. Then you can come back and make the next big gathering!</p>
          <% }%>
    <% } %>
  </div>


  <% events.forEach(event => { %>
    <div class="column is-one-third-desktop is-half-tablet">
      <div class="card details-box">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= event.image %>" alt="<%= event.name %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="title is-4">
              <a href="/events/<%=event._id%>"><%= event.name %></a>
              </h4>
              <p class="venue-description">
              <%= event.description %>
              </p>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
