<div class="columns is-multiline is-centered">
  <div class="column is-four-fifths-desktop box">
    <h2>Event Page</h2>
  </div>
  <div class="column is-two-fifths-desktop box">
        <img src="<%= event.image %>" alt="<%= event.name %>">
  </div>
  <div class="column is-two-fifths-desktop box is-vertical-center user-details">
    <ul>
      <li><h2><%= event.name %></h2></li>
      <li>Venue: <a href="../venues/<%= event.venue.id %>"><%= event.venue.name %></a></li>
      <li>Host: <a href="../users/<%= event.creator.id %>"><%= event.creator.profile['firstName'] %> <%= event.creator.profile['usersController']%></a></li>
      <li>Age Restriction: <%= event.venue.ageLimit %></li>
    </ul>
  </div>
  <div class="column is-four-fifths-desktop box">
    <p>Attending:
      <% event.attendees.forEach(key => { %>
      <a href="/users/<%=key.id %>"><%= key.profile.firstName %> <%= key.profile.secondName %></a>
      <% }) %>
      </p>
      <p>Slots Taken: <%= event.attendees.length %>/<%= event.venue.capacity%></p>
  </div>
</div>

<div class="columns is-multiline">
  <div class="column is-half-desktop">
  </div>
  <div class="column">
    <p>
      <%= event.description %>
    </p>
    <% if (locals.isLoggedIn) { %>
      <div class="field is-grouped">
        <a href="/events/<%= event._id %>/edit">Edit</a>
        <form action="/events/<%= event.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button name="button">Delete</button>
        </form>
      </div>
    <% } %>
  </div>
  <div class="column">
    <h3>Comments:</h3>
    <ul>
      <% event.comments.forEach(comment => { %>
        <li><%= comment.content %></li>
        <li><%= comment.creator %></li>
      <% }) %>
    </ul>
    <% if (locals.isLoggedIn) { %>
      <form method="POST" action="/events/<%= event._id %>/comments">
        <textarea name="content" required></textarea>
        <button>Submit</button>
      </form>
    <% } %>
  </div>
  <div class="column">
    <% if (locals.isLoggedIn) { %>
      <% if (event.canAttend(locals.currentUser)) {%>
        <form action="/events/<%= event._id %>/attending" method="post">
        <button name="attending" class="button">Attend</button>
        </form>
        <% } %>
    <% } %>
  </div>
</div>
