<div class="columns is-multiline is-centered">
  <div class="column is-four-fifths-desktop box page-head">
    <h2>Event Page</h2>
  </div>
  <div class="column is-two-fifths-desktop box picture-box">
        <img src="<%= event.image %>" alt="<%= event.name %>">
  </div>
  <div class="column is-two-fifths-desktop box user-details details-box">
    <ul>
      <li><h2><%= event.name %></h2></li>
      <li>Venue: <a href="../venues/<%= event.venue.id %>"><%= event.venue.name %></a></li>
      <li>Host: <a href="../users/<%= event.creator.id %>"><%= event.creator.profile['firstName'] %> <%= event.creator.profile['usersController']%></a></li>
      <li>Age Restriction: <%= event.venue.ageLimit %></li>
    </ul>
    <% if (locals.isLoggedIn && locals.currentUser.id === event.creator.id) { %>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="control">
              <a href="/events/<%= event.id %>/edit" class="button">Edit</a>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="control">
              <form action="/events/<%= event.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button name="button" class="button">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    <% } %>
  </div>
  <div class="column is-four-fifths-desktop box details-box">
    <p>Attending:
      <% event.attendees.forEach(key => { %>
      <a href="/users/<%=key.id %>"><%= key.profile.firstName %> <%= key.profile.secondName %>, </a>
      <% }) %>
      </p>
      <p>Slots Taken: <%= event.attendees.length %>/<%= event.venue.capacity%>.
      <% if (event.attendees.length === event.venue.capacity) { %>
        This event how now sold out!
      <% } %> </p>
      <% if (locals.isLoggedIn) { %>
        <% if (event.canAttend(locals.currentUser)) {%>
          <form action="/events/<%= event._id %>/attending" method="post">
          <label class="label">Attend</label>
          <button name="attending" class="button"><i class="fas fa-thumbs-up"></i></button>
          </form>
          <% } %>
          <% event.attendees.forEach(key => { %>
            <% if (key.id === currentUser.id) { %>
              <p>Great News! You are going to <%= event.name %></p>
            <% }%>
          <% }) %>
      <% } %>
  </div>
  <div class="column is-four-fifths-desktop box description-box">
    <p>
      Event Description:
      <%= event.description %>
    </p>
  </div>
  <div class="column is-three-fifths-desktop box">
    <h3>Comments:</h3>
    <ul>
      <% event.comments.forEach(comment => { %>
        <li><%= comment.content %></li>
      <% }) %>
    </ul>
  </div>
    <div class="column is-one-fifth-desktop box">
      <form method="POST" action="/events/<%= event._id %>/comments">
        <label class="label">Write a comment:</label>
        <textarea name="content" required></textarea>
        <% if (locals.isLoggedIn) { %>
          <button>Submit</button>
          </form>
          <% } else { %>
            <p>You must be logged in to post</p>
            <% }%>
    </div>
</div>
