<div class="columns is-multiline is-centered">
  <div class="column page-head is-11 box">
    <h2 class="header">Places to be</h2>
    <% if (locals.isLoggedIn) { %>
      <a href="/venues/new" class="navbar-item">
      Add a venue
      </a>
    <% } %>
  </div>
  <% venues.forEach(venue => { %>
    <div class="column is-one-third-desktop is-half-tablet">
      <div class="card details-box">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= venue.image %>" alt="<%= venue.name %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="title is-4">
              <a href="/venues/<%=venue._id%>"><%= venue.name %></a>
            </h4>
            <p>Owner: <a href="/users/<%= venue.creator.id %>"><%= venue.creator.profile.firstName %></a>
            <p class="venue-description">
              <%= venue.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
