<div class="columns is-multiline is-centered">
  <div class="column is-four-fifths-desktop box page-head">
    <h2>Venue Page</h2>
  </div>
  <div class="column is-two-fifths-desktop box picture-box">
    <img src="<%= venue.image %>" alt="<%= venue.name %>">
  </div>
  <div class="column is-two-fifths-desktop box is-vertical-center user-details details-box">
    <ul>
      <li><h2>Venue: <%= venue.name %></h2></li>
      <li>Owner: <a href="../users/<%=venue.creator.id%>"><%= venue.creator.username %></a></li>
      <li>Upcoming Events:
        <% venue.events.forEach(key => { %>
          <a href="/events/<%= key.id %>"> <%= key.name %> </a>
        <% }) %></li>
    </ul>
  </div>
  <div class="column is-four-fifths-desktop box description-box">
    <p>
      <%= venue.description %>
    </p>
    <% if (locals.isLoggedIn && locals.currentUser.id === venue.creator.id) { %>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="control">
              <a href="/venues/<%= venue.id %>/edit" class="button">Edit</a>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="control">
              <form action="/venues/<%= venue.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button name="button" class="button">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    <% } %>
  </div>
  <div class="column is-three-fifths-desktop box">
    <h3>Comments:</h3>
    <ul>
      <% venue.comments.forEach(comment => { %>
        <li><%= comment.content %></li>
      <% }) %>
    </ul>
  </div>
    <div class="column is-one-fifth-desktop box">
      <form method="POST" action="/venues/<%= venue._id %>/comments">
        <label class="label">Write a comment:</label>
        <textarea name="content" required></textarea>
        <% if (locals.isLoggedIn) { %>
          <button>Submit</button>
          </form>
          <% } else { %>
            <p>You must be logged in to post</p>
            <% }%>
    </div>
</div>
