<h2>Edit Page</h2>

<form action="/users/<%= user._id %>" method="POST">
  <input type="hidden" name="_method" value="put">
  <% Object.keys(template).forEach(key => { %>
    <div class="field">
      <label class="label"><%= key.toUpperCase()%></label>
      <div class="control">
      <% if (key === 'profile') { %>
        <% Object.keys(template.profile).forEach((element) => { %>
          <div class="field is-horizontal">
          <div class="field-label is-normal">
          <label class="label"><%= element.toUpperCase() %></label>
          </div>
          <% if (element === 'firstName' || element === 'secondName' || element === 'image') { %>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input type="text" class="input" name="<%=key%>.<%= element %>" value="<%= user.profile[element] %>">
                </div>
              </div>
            </div>
          </div>

          <% } else if (element === 'DOB') { %>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input type="date" class="input" name="<%=key %>.<%= element %>">
                </div>
              </div>
            </div>
          </div>

          <% } else { %>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <%console.log(user.profile);%>
                  <%console.log(element);%>
                  <textarea name="profile.interests" rows="10" columns="80"><%= user.profile[element] %></textarea>
                </div>
              </div>
            </div>
          </div>

          <% }%>
        <% }) %>
      </div>
    </div>
  <% } else if(key === 'password') { %>
    <input type="password" class="input" name="<%= key %>">
    <label class="label">PASSWORD CONFIRMATION</label>
    <input type="password" class="input" name="passwordConfirmation">
    <% } else { %>
      <input type="text" class="input" name="<%= key %>" value="<%= user[key] %>">
  <% } %>
  <% }) %>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</form>
