
<div class="columns is-multiline is-mobile">
  <div class="column">
    <h2>User Profile Page</h2>
    <h3>Venues</h3>
    <h2><% user.venues.forEach(key =>{%>
      <ul>
        <li><a href="../venues/<%=key.id%>"><%= key.name %></a></li>
      </ul>
    <%})%>
    <img src="<%= user.profile['image']%>" alt="<%=user.profile['firstName']%>">
  </div>
  <div class="columns is-multiline">
      <ul>
        <li>
          <div class="column is-one-third is-offset-one-third">
            Name: <%= user.profile['firstName']%> <%= user.profile['secondName']%>
          </div>
        </li>
        <li>
          <div class="column is-one-third is-offset-one-third">
            Date of Birth: <%= user.profile['DOB']%>
          </div>
        </li>
        <li>
          <div class="column is-one-third is-offset-one-third">
            Interests: <%= user.profile['interests']%>
          </div>
        </li>
      </ul>
      <% if (locals.isLoggedIn && locals.currentUser.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit">Edit</a>
      <% } %>
      <form action="/users/<%= user.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button name="button">Delete</button>
      </form>
  </div>
</div>
