<h2>User Profile Page</h2>

<div class="columns is-multiline is-mobile">
  <div class="column is-half">
    <img src="<%= user.profile['image']%>" alt="<%=user.profile['firstName']%>">
  </div>
  <div class="column is-half">
    <ul>
      <li>Name: <%= user.profile['firstName']%> <%= user.profile['secondName']%></li>
      <li>Date of Birth: <%= user.profile['DOB']%></li>
      <li>Interests: <%= user.profile['interests']%></li>
    </ul>
  </div>
</div>
<%= user %>
<%= user.profile %>
<%= user.profile['firstName'] %>
