<h2>User Profile Page</h2>

<div class="columns is-multiline is-mobile">
  <div class="column">
    <img src="<%= user.profile['image']%>" alt="<%=user.profile['firstName']%>">
  </div>
  <div class="columns">
      <ul>
        <li>
          <div class="column is-one-third">
            Name: <%= user.profile['firstName']%> <%= user.profile['secondName']%>
          </div>
        </li>
        <li>
          <div class="column is-one-third">
            Date of Birth: <%= user.profile['DOB']%>
          </div>
        </li>
        <li>
          <div class="column is-one-third">
            Interests: <%= user.profile['interests']%>
          </div>
        </li>
      </ul>
  </div>
</div>
